h1 {
	text-align: center;
	font-size: xx-large;
	font-weight: normal;
}

h2 {
	text-align: center;
	font-size: x-large;
	font-weight: normal;
}

h3 {
	text-align: center;
	font-size: normal;
	font-weight: normal;
}

/* Links ohne Unterstreichung */
a {
	text-decoration: none;
}

p {
	text-indent: 1em;
}

blockquote p {
	white-space: pre-wrap;
	text-indent: 0em;
	padding-left: 0.5em;
	font-family: serif;
}

/* Gedichte sind mit <pre> formatiert */
pre {
	white-space: pre-wrap;
	padding-left: 1em;
	font-family: serif;
}

/* Zitat */
.quote {
	white-space: pre-wrap;
	text-align: right;
}

/* Quellen-Angabe (i.d.R. am Ende) */
.source {
	white-space: pre-wrap;
	text-align: center;
	font-size: x-small;
}

/* zentriert */
.center {
	text-align: center;
}

/* rechtsbündig */
.right {
	text-align: right;
}

/* statt italic wird eine serifenlose Schrift verwendet */
i {
	font-style: normal;
	font-family: sans-serif;
}

/* cover */
#cover {
	width: 100%;
	height: 100%;
}

/* table of contents */
.toc #author {
	color: dimgray;
	font-size: 1.25em;
	text-align: center;
	font-size: large;
}
.toc #title {
	font-size: 1.8em;
	text-align: center;
	font-size: x-large;
}
.toc #subtitle {
	color: dimgray;
	font-size: 1.25em;
	text-align: center;
	font-size: x-large;
}

/* Link zu Fußnote */
a.refnote {
	font-size: x-small;
	vertical-align: super;
}

/* Fußnote */
.footnote {
	font-size: small;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

a.footnote {
	font-size: x-small;
	vertical-align: super;
}

.g {
	letter-spacing: 0.25em;
}

hr {
	border: 0; 
	height: 1px; 
	width: 80%;
	align: center;
	text-align: center;
	background: #333; 
	background-image: linear-gradient(to right, #eee, #333, #eee);
}

