@import "book.css";

p {
	text-align: center;
	padding: 0.5em;
	white-space: pre-wrap;
}

#title {
	font-size: 1.5em;
	letter-spacing: 0.25em;
	text-decoration: underline;
}

#subtitle {
	font-size: 2.5em;
}

#author, #translator {
	font-size: 1.25em;
}

