@import 'book.css';

p {
	margin-left: 50px;
	margin-right: 20px;
}

p.titel {
	margin-left: 0px;
	margin-bottom: 2em;
	text-indent: 0em;
	font-size: 50pt;
	white-space: pre-wrap;
	border-bottom: 10px double black;
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

p.verlag {
	text-indent: 0em;
	white-space: pre-wrap;
}
