h1 {
	text-align: center;
	font-size: x-large;
	font-weight: normal;
}

h2 {
	text-align: center;
	font-size: large;
	font-weight: normal;
}

p {
	margin: 2pt 0 2pt;
	text-indent: 1em;
	text-align: justify;
}

blockquote p {
	white-space: pre-wrap;
	text-indent: 0em;
	padding-left: 0.5em;
	font-family: cursive;
}

/* Leerzeichen in Tabellen beibehalten */
td, th {
	white-space: pre-wrap;
	vertical-align: top;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-weight: normal;
}

table {
	border-collapse: collapse;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* senkrechte Rahmen zwischen den Spalten */
table.vborder td { border-left: 1px solid #000; }
table.vborder th { border-left: 1px solid #000; }
table.vborder td:first-child { border-left: none; }
table.vborder th:first-child { border-left: none; }
table.vborder1 td:nth-child(1) { border-right: 1px solid #000; }
table.vborder1 th:nth-child(1) { border-right: 1px solid #000; }
table.vborder2 td:nth-child(2) { border-right: 1px solid #000; }
table.vborder2 th:nth-child(2) { border-right: 1px solid #000; }
table.vborder3 td:nth-child(3) { border-right: 1px solid #000; }
table.vborder3 th:nth-child(3) { border-right: 1px solid #000; }
table.vborder4 td:nth-child(4) { border-right: 1px solid #000; }
table.vborder4 th:nth-child(4) { border-right: 1px solid #000; }
table.vborder5 td:nth-child(5) { border-right: 1px solid #000; }
table.vborder5 th:nth-child(5) { border-right: 1px solid #000; }
table.vborder6 td:nth-child(6) { border-right: 1px solid #000; }
table.vborder6 th:nth-child(6) { border-right: 1px solid #000; }
table.vborder7 td:nth-child(7) { border-right: 1px solid #000; }
table.vborder7 th:nth-child(7) { border-right: 1px solid #000; }
table.vborder8 td:nth-child(8) { border-right: 1px solid #000; }
table.vborder8 th:nth-child(8) { border-right: 1px solid #000; }

/* cover */
#cover {
	width: 100%;
	height: 100%;
}

/* table of contents */
.toc #author {
	color: dimgray;
	font-size: 1.25em;
	text-align: center;
	font-size: large;
}
.toc #title {
	font-size: 1.8em;
	text-align: center;
	font-size: x-large;
}
.toc #subtitle {
	color: dimgray;
	font-size: 1.25em;
	text-align: center;
	font-size: x-large;
}

/* Link zu Fußnote */
a.refnote {
	font-size: small;
	vertical-align: super;
	text-decoration: none;
}

/* Fußnote */
.footnote {
	font-size: small;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.footnote a {
	font-size: x-small;
	vertical-align: super;
	text-decoration: none;
}

.anmerkungen {
	text-align: center;
	font-size: large;
}

/* zentrierter Text */
.centered {
	text-align: center;
}

/* rechtsbündig */
.right {
	text-align: right;
}

.pre {
	white-space: pre-wrap;
}

/* gesperrter Text */
.g {
	letter-spacing: 0.25em;
}

/* um 90° gedreht
   Achtung: bei Tabellen muss die Caption in eine Zeile umgewandelt werden
   und die Tabellen müssen in etwa quadratisch sein */
.landscape {
	transform: rotate(-90deg);
}

/* dünne Linie mit Verlauf als Trenner */
hr {
	border: 0; 
	height: 1px; 
	width: 80%;
	align: center;
	text-align: center;
	background: #333; 
	background-image: linear-gradient(to right, #eee, #333, #eee);
}
